<!-- <h1>Suru</h1> -->
<!-- <mat-checkbox class="example-margin" aria-checked="true" (change)="fun()" [(ngModel)]="check">Check me!</mat-checkbox>
<br>
<mat-radio-group aria-label="Select an option" (change)="Checkfun()" [(ngModel)]="val">
  <mat-radio-button value="1">Option 1</mat-radio-button>
  <mat-radio-button value="2">Option 2</mat-radio-button>
</mat-radio-group>
<br>
<mat-form-field appearance="fill">
  <mat-label>Select an option</mat-label>
  <mat-select [(value)]="selected" (selectionChange)="SelectFun()">
    <mat-option>None</mat-option>
    <mat-option value="option1">Option 1</mat-option>
    <mat-option value="option2">Option 2</mat-option>
    <mat-option value="option3">Option 3</mat-option>
  </mat-select>
</mat-form-field>
<br>
<textarea #inp placeholder="Suruchi Sahu" (change)="InputFun(inp.value)"></textarea> -->
<!-- <app-user></app-user> -->
<!-- <user></user> -->
<!-- <form-component></form-component> -->
<h2>Users</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Gender</th>
    <th>Country</th>
    <th>Checked</th>
  </tr>
  <tr *ngFor="let user of users">
    <td>{{user.username}}</td>
    <td>{{user.email}}</td>
    <td>{{user.gender}}</td>
    <td>{{user.country}}</td>
    <td>{{user.checked}}</td>
  </tr>
  
</table>
<br>
<button style="color: green;cursor: pointer;" (click)="ShowForm()">Add a user</button>
<br>
<br>
<form-component *ngIf="showForm"></form-component>
<!-- <app-form></app-form> -->
